
nav {
    width: 100px;
    align-items: center;


        ul{
            text-decoration: none;
            list-style: none;

            li{
                text-align: center;

            }

        }
    }